<div class="chat-window">
  <header>
    <button class="back-button" (click)="goBack()">
      <span class="material-symbols-outlined"> arrow_back </span>
    </button>
    <h2>{{ chat().otherUser.name }}</h2>
  </header>

  <main class="messages">
    @if (messages().length === 0) {
      <p class="no-messages">Nenhuma mensagem enviada.</p>
    } @else {
      @for (message of messages(); track $index) {
        <p [class]="message.type">
          {{ message.text }}
        </p>
      }
    }
  </main>

  <footer class="message-input">
    <input
      (keydown.enter)="sendMessage()"
      [(ngModel)]="message"
      type="text"
      placeholder="Digite uma mensagem..."
    />
    <button class="send-button" (click)="sendMessage()">
      <span class="material-symbols-outlined"> send </span>
    </button>
  </footer>
</div>
