<div class="chat-window">
  <header>
    <button class="back-button" (click)="goBack()">
      <span class="material-symbols-outlined"> arrow_back </span>
    </button>
    <div class="info">
      <h2>{{ chat().otherUser.name }}</h2>

      <div class="status-info">
        <span class="status-dot" [class.online]="isOtherUserOnline()"></span>

        @if (isOtherUserOnline()) {
          <span [class.online]="isOtherUserOnline()">Online</span>
        } @else {
          <span>Offline</span>
        }
      </div>
    </div>
  </header>

  <main #messagesContainer class="messages">
    @if (messages().length === 0) {
      <p class="no-messages">Nenhuma mensagem enviada.</p>
    } @else {
      @for (message of messages(); track $index) {
        <p [class]="message.type">
          {{ message.text }}
        </p>
      }
    }
  </main>

  @if (typing()) {
    <span class="typing">{{ chat().otherUser.name }} está digitando...</span>
  }

  <footer class="message-input">
    <input
      #messageInput
      (keydown.enter)="sendMessage()"
      [(ngModel)]="message"
      type="text"
      (input)="sendTyping()"
      placeholder="Digite uma mensagem..."
    />
    <button class="send-button" (click)="sendMessage()">
      <span class="material-symbols-outlined"> send </span>
    </button>
  </footer>
</div>
