:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(231, 235, 238);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 15px;
}

input {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid gray;
}

input:focus {
  border: 1px solid rgb(0, 98, 255);
  outline: none;
}

input:focus::placeholder {
  color: rgb(0, 98, 255);
}

input,
.login {
  width: 250px;
  box-sizing: border-box;
}

.login {
  background-color: rgb(0, 98, 255);
  padding: 20px;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.register {
  border: none;
  font-size: 15px;
  background-color: transparent;
  color: rgb(0, 98, 255);
  font-weight: bold;
}

.register-account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

img {
  max-width: 50%;
  margin-bottom: 10px;
}

.logo {
  filter: invert(1) !important;
}

.spinner {
  animation: spin 1s linear infinite;
}

.password-field {
  position: relative;
  width: 250px;
}

.password-field input {
  width: 100%;
  padding-right: 55px;
}

.show-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  background: transparent;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.show-password .material-symbols-outlined {
  font-size: 22px;
}


@media (min-width: 1024px) {

  :host {
    padding: 0;
    overflow-y: hidden;
  }

  .login {
    cursor: pointer;
  }

  .login:hover {
    transform: scale(1.02);
    transition: ease-in .1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .register:hover {
    color: rgb(48, 126, 252);
    transform: scale(1.02);
    transition: ease-in .1s;
    cursor: pointer;
  }

  img {
    max-width: 20%;
    margin-bottom: 10px;
  }
}

.message {
  color: red;
}

@media (prefers-color-scheme: light) {
  .logo {
    filter: invert(1);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
