<img class="logo" src="logo.png" alt="">

<h1>Login</h1>

<form (submit)="$event.preventDefault(); login()">
  <input [(ngModel)]="email" name="email" type="email" placeholder="Digite seu email" />

  <input [(ngModel)]="password" name="password" type="password" placeholder="Digite sua senha" />

  <button class="login" type="submit" [disabled]="loading()">Login</button>

  @if (loading()) {
    <p>Efetuando Login...</p>
  }

  <div class="register-account">
    <p>Novo por aqui?</p>

    <button class="register" type="button" (click)="goToRegister.emit()">Criar uma conta</button>
  </div>

  @if (message()) {
    <p>{{ message() }}</p>
  }
</form>
