@if (requests().length === 0) {
  <p>Nenhuma solicitação encontrada</p>
}

@for (request of requests(); track request.id) {
  <div class="request">
    <div class="info">
      <p>
        <b>{{ request.sender.name }}</b>
      </p>
      <span><b>ID:</b> {{ request.sender.friendCode }}</span>
    </div>

    &nbsp;

    <div class="buttons">
      <button class="btn-accept" (click)="aceitar(request.id)">
        <span class="material-symbols-outlined"> check </span>
      </button>
      <button (click)="rejeitar(request.id)" class="btn-reject">
        <span class="material-symbols-outlined"> close_small </span>
      </button>
    </div>
  </div>
}
