<div class="chat-list">

  <section class="user-info">
    <h1>Olá, {{ user()?.name }}</h1>
    <span>Seu código de amizade: {{ user()?.friendCode }}</span>
  </section>

  <section class="chat-actions">
    <button (click)="showAddFriend.set(true)">
      Adicionar Amigo
    </button>

    <button (click)="viewRequests.set(true)">
      Ver Solicitações
    </button>

    <button (click)="logout()">
      Desconectar
    </button>
  </section>

  @if (showAddFriend()) {
    <app-add-friend
      (close)="showAddFriend.set(false)">
    </app-add-friend>
  }

  @if (viewRequests()) {
    <app-friend-requests
      (close)="viewRequests.set(false)">
    </app-friend-requests>
  }

  <section class="chats">
    <h2>Conversas</h2>

    @if (chats().length === 0) {
      <p class="no-chats">Nenhuma conversa encontrada.</p>
    }

    @for (chat of chats(); track chat.id) {
      <app-chat-item (openChat)="openChat($event)" [chat]="chat"></app-chat-item>
    }
  </section>

</div>
