.chat-list {
  padding: 20px;
}

.chat-list-hidden {
  display: none;
}

.user-info {
  margin-top: 15px;
  margin-bottom: 20px;
}

.user-info h1 {
  margin: 0 0 5px;
}

.user-info span {
  color: gray;
}

.chat-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.chat-actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.chats h2 {
  user-select: none;
  margin-bottom: 15px;
}

.no-chats {
  user-select: none;
  color: gray;
  text-align: center;
}

.logout-button {
  user-select: none;
  background-color: rgb(255, 206, 206);
  color: red;
}

.add-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(139, 245, 139);
  color: green;
  user-select: none;
}

.friends-tabs {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.friends-tabs span {
  padding: 10px;
  user-select: none;
  cursor: pointer;
}

.active {
  background-color: color-mix(in srgb, var(--primary-color) 20%, transparent);
  border-bottom: 1px solid var(--primary-color);
  border-radius: 5px;
}

.requestCount {
  background-color: blue;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  font-size: 12px;
}

.add-button-container {
  position: relative;
  display: flex;
}

.request-badge {
  position: absolute;
  top: -5px;
  right: -2px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 13px;
  height: 13px;

  background-color: green;
  color: white;
  border-radius: 50%;

  padding: 3px;

  font-size: 15px;
}
