<div class="chat-list">
  <section class="user-info">
    <h1>Olá, {{ user()?.name }}</h1>
    <span>Seu código de amizade: {{ user()?.friendCode }}</span>
  </section>

  <section class="chat-actions">
    <div class="add-button-container">
      <button class="add-button" (click)="showFriends.set(true)">
        <span class="material-symbols-outlined"> person_add </span>
      </button>

      @if (friendRequestCount() > 0) {
        <span class="request-badge">!</span>
      }
    </div>

    <button class="logout-button" (click)="logout()">
      <span class="material-symbols-outlined"> logout </span>
    </button>
  </section>

  @if (showFriends()) {
    <app-modal title="Amizades" (close)="showFriends.set(false)">
      <nav class="friends-tabs">
        <span [class.active]="friendsView() === 'add'" (click)="friendsView.set('add')"
          >Adicionar</span
        >
        <span [class.active]="friendsView() === 'requests'" (click)="friendsView.set('requests')"
          >Pedidos
          @if (friendRequestCount() > 0) {
            <span class="requestCount">{{ friendRequestCount() }}</span>
          }
        </span>
      </nav>

      @if (friendsView() === 'add') {
        <app-add-friend></app-add-friend>
      }

      @if (friendsView() === 'requests') {
        <app-friend-requests (requestRemoved)="friendRequestCount.update(count => count - 1)"></app-friend-requests>
      }
    </app-modal>
  }

  <section class="chats">
    <h2>Conversas</h2>

    @if (chats().length === 0) {
      <p class="no-chats">Nenhuma conversa encontrada.</p>
    }

    @for (chat of chats(); track chat.id) {
      <app-chat-item (openChat)="openChat($event)" [chat]="chat"></app-chat-item>
    }
  </section>
</div>
