.chat-list {
  padding: 20px;
}

.chat-list-hidden {
  display: none;
}

.user-info {
  margin-top: 15px;
  margin-bottom: 20px;
}

.user-info h1 {
  margin: 0 0 5px;
}

.user-info span {
  color: gray;
}

.chat-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.chat-actions button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.chats h2 {
  margin-bottom: 15px;
}

.no-chats {
  color: gray;
  text-align: center;
}

.logout-button {
  background-color: rgb(255, 206, 206);
  color: red;
}

.add-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(139, 245, 139);
  color: green;
  overflow: hidden;
  transition: width 0.2s ease;
}

.requests-button {
  background-color: rgb(255, 245, 191);
  color: rgb(255, 111, 0);
}

