:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: rgb(231, 235, 238);
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  gap: 15px;
}

input {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid gray;
}

input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}

input:focus::placeholder {
  color: var(--primary-color);
}

input,
.register-button {
  width: 250px;
  box-sizing: border-box;
}

.register-button {
  background-color: var(--primary-color);
  padding: 20px;
  color: white;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.login-account {
  border: none;
  font-size: 15px;
  background-color: transparent;
  color: var(--primary-color);
  font-weight: bold;
}

img {
  max-width: 50%;
  margin-bottom: 10px;
}

.logo {
  filter: invert(1) !important;
}

.spinner {
  animation: spin 1s linear infinite;
}

.message {
  color: red;
}

.sucesso {
  color: green;
}

@media (min-width: 1024px) {
  :host {
    padding: 0;
    overflow-y: hidden;
  }

  .register-button {
    cursor: pointer;
  }

  .register-button:hover {
    transform: scale(1.02);
    transition: ease-in 0.1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .login-account:hover {
    color: rgb(48, 126, 252);
    transform: scale(1.02);
    transition: ease-in 0.1s;
    cursor: pointer;
  }

  img {
    max-width: 20%;
    margin-bottom: 10px;
  }
}

@media (prefers-color-scheme: light) {
  .logo {
    filter: invert(1);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
