<img class="logo" src="logo.png" alt="" />

<h1>Cadastro</h1>

<span>
  <i> O email a ser cadastrado deve ser o email institucional da Fumec. </i>
</span>

<form (submit)="$event.preventDefault(); register()">
  <input [(ngModel)]="name" name="name" type="text" placeholder="Digite seu nome" />

  <input [(ngModel)]="email" name="email" type="email" placeholder="Digite seu email" />

  <input
    [(ngModel)]="password"
    name="password"
    [type]="showPassword() ? 'text' : 'password'"
    placeholder="Digite sua senha"
  />

  <button class="register-button" type="submit" [disabled]="loading()">
    @if (loading()) {
      <span class="material-symbols-outlined spinner"> progress_activity </span>
    } @else {
      Registrar
    }
  </button>

  <button class="login-account" type="button" (click)="goToLogin.emit()">Já tenho uma conta</button>

  @if (message()) {
    @if (message().includes('criado')) {
      <p class="sucesso">{{ message() }}</p>

    } @else {
      <p class="message">{{ message() }}</p>
    }
  }
</form>
