@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --primary-color: rgb(0, 98, 255)
}

html, body {
  height: 100%;
  padding: 0px;
  margin: 0;
  font-family: "Inter", sans-serif;
}
